@model FastChicken.Models.Combo

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title lead" id="staticBackdropLabel">@Model.Name</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            @if (ViewBag.Drinks.Count > 0)
            {
                <h4 class="mb-3 fw-bold">Bebidas</h4>
                <div class="container">
                    <div class="row mb-4">
                        @foreach (var drink in ViewBag.Drinks)
                        {
                            <div class="col-md-3 text-center">
                                <input type="radio" class="btn-check" name="drink" id="@drink.Name.ToLower()" data-quantity="@drink.Quantity" data-name="@drink.Name" data-id="@drink.idDrink" autocomplete="off">
                                <label class="item_modal_drink fw-semibold btn btn-outline-primary py-3 px-4 shadow-sm rounded" for="@drink.Name.ToLower()">@drink.Name</label>
                            </div>
                        }
                    </div>

                    @if (Model.ComboId != "DG")
                    {
                        <div class="row mb-4">
                            <div class="col text-center">
                                <input type="radio" class="btn-check" name="ice" id="con" autocomplete="off">
                                <label class="item_modal_ice fw-semibold btn btn-outline-primary py-3 px-4 shadow-sm rounded" for="con">Con Hielo</label>
                            </div>
                            <div class="col text-center">
                                <input type="radio" class="btn-check" name="ice" id="sin" autocomplete="off">
                                <label class="item_modal_ice fw-semibold btn btn-outline-primary py-3 px-4 shadow-sm rounded" for="sin">Sin Hielo</label>
                            </div>
                        </div>
                    }
                </div>
                <hr>
            }
            @if (ViewBag.Sides.Count > 0)
            {
                <h4 class="mb-3 fw-bold">Guarnicion</h4>
                <div class="container">
                    <div class="row mb-4">
                        @foreach (var side in ViewBag.Sides)
                        {
                            <div class="col text-center">
                                <input type="radio" class="btn-check" name="side" onchange="changeSide('@side.Name.ToLower()')" id="@side.Name.ToLower()" data-quantity="@side.Quantity" data-name="@side.Name" data-id="@side.idSide" autocomplete="off">
                                <label class="item_modal_side fw-semibold btn btn-outline-primary py-3 px-4 shadow-sm rounded" for="@side.Name.ToLower()">@side.Name</label>
                            </div>
                        }
                    </div>
                </div>
                <hr>
            }
            @if (Model.Type == "PO")
            {
                <div class="row mb-4">
                    <div class="col text-center">
                        <input type="radio" class="btn-check" name="spicy" id="conSp" autocomplete="off">
                        <label class="item_modal_ice fw-semibold btn btn-outline-success py-3 px-4 shadow-sm rounded" for="conSp">Con Picante</label>
                    </div>
                    <div class="col text-center">
                        <input type="radio" class="btn-check" name="spicy" id="sinSp" autocomplete="off">
                        <label class="item_modal_ice fw-semibold btn btn-outline-success py-3 px-4 shadow-sm rounded" for="sinSp">Sin Picante</label>
                    </div>
                </div>
                <hr>
            }
            <h4 class="mb-3 fw-bold text-center">@string.Format("{0:C}", Convert.ToDouble(Model.Price))</h4>
        </div>

        <div id="msg-container">
            @if( ViewBag.SideOutStock )
            {
                <div id='msg'><div class='alert-msg'><i class='bi bi-x-circle'></i>No hay stock de la guarnición seleccionada</div></div>
            }
            @if (ViewBag.DrinkOutStock)
            {
                <div id='msg'><div class='alert-msg'><i class='bi bi-x-circle'></i>No hay stock de la bebida seleccionada</div></div>
            }
            @if (ViewBag.ProductOutStock)
            {
                <div id='msg'><div class='alert-msg'><i class='bi bi-x-circle'>No hay stock del producto seleccionado</i></div></div>
            }
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="AddItem('@Model.ComboId','@Model.Name', '@Model.Price', '@Model.Type')">Agregar</button>
        </div>
    </div>
</div>